body {
	font-family: serif;
}

body, a {
	color:#303030;
}


	body > header  ,
    body > article ,
	body > footer  {
		width: 800px;
		margin: 0 auto;
	}


	body > header {

	}
		body > header h1 {
			text-align: center;
			font-variant: small-caps;
			font-weight: bold;
			font-size: 380%;
			margin-top:0.4em;
			margin-bottom:0.7em;
		}
		body > header h1   ,
		body > header h1 a {
			text-decoration: none;
		}

		body > header nav {
			background-color: #fbfbfb;
			border-top: 1px solid #eaeaea;
			border-bottom: 1px solid #eaeaea;
			text-align: center;
			font-size:90%;
		}
		body > header nav   ,
		body > header nav a {
			color: #909090;
		}
			body > header nav ul ,
			body > header nav ol {
				list-style: none;
				margin:0;
				padding:0;
			}
				body > header nav ul li ,
				body > header nav ol li {
					display: inline-block;
					text-transform:uppercase;
				}
					body > header nav ul li a ,
					body > header nav ol li a {
						display: inline-block;
						padding: 0.4em 1.4em;
					}
			body > header nav a {
				text-decoration: none;
			}
			body > header nav a:hover {
				text-decoration: underline;
			}

			body > header .blurb {
				font-size: 80%;
				text-align: center;
				color: #707070;
			}

	body > article {
		margin-top: 4em;
	}
		body > article .pubdate {
			text-align: center;
			opacity: 0.7;
		}
		body > article .pubdate {
			border-top: 1px solid #c9c9c9;
			padding: 0.4em 0;
			border-bottom: 1px solid #c9c9c9;
		}
		body > article > h1 {
			text-align: center;
/*			font-size: 170%; */
			font-weight: bold;
			margin-top:1.7em;
			margin-bottom:0;
		}
			body > article > h1 a {
				text-decoration: none;
			}
			body > article > h1 a:underline {
				text-decoration: none;
			}
		body > article > address {
			text-align: center;
			font-size: 84%;
			margin-top:0.5em;
			margin-bottom:2.5em;
		}
			body > article > address a {
				text-decoration: none;
			}
			body > article > address.reblogged:before {
				content: "↹";
			}
		body > article p {
			line-height: 150%;
			text-align: justify;
		}

		body > article .comments {
			text-align: center;
		}
		body > article .comments {
			margin-top: 3.5em;
		}


	body > footer  {
		background-color:#434343;
		border-radius: 5px;
	}
	body > footer    ,
	body > footer  a {
		color:white;
	}
	body > footer  {
		text-align: center;

	}
	body > footer  {
		margin-top: 7em;
		margin-bottom: 5em;
	}
		body > footer a {
			display:block;
			padding-top:    0.8em;
			padding-bottom: 0.8em;
		}
