body {
	font-family: serif;
}

body, a {
	color:#303030;
}


	body > header  ,
    body > article {
		width: 800px;
		margin: 0 auto;
	}


	body > header {

	}
		body > header h1 {
			text-align: center;
			font-variant: small-caps;
			font-weight: normal;
		}
		body > header h1   ,
		body > header h1 a {
			text-decoration: none;
		}

		body > header nav {
			background-color: #fbfbfb;
			border-top: 1px solid #eaeaea;
			border-bottom: 1px solid #eaeaea;
			text-align: center;
			font-size:90%;
		}
		body > header nav   ,
		body > header nav a {
			color: #909090;
		}
			body > header nav ul ,
			body > header nav ol {
				list-style: none;
				margin:0;
				padding:0;
			}
				body > header nav ul li ,
				body > header nav ol li {
					display: inline-block;
					text-transform:uppercase;
				}
					body > header nav ul li a ,
					body > header nav ol li a {
						display: inline-block;
						padding: 0.4em 1.4em;
					}
			body > header nav a {
				text-decoration: none;
			}
			body > header nav a:hover {
				text-decoration: underline;
			}

			body > header .blurb {
				font-size: 80%;
				text-align: center;
				color: #707070;
			}

	body > article {
		margin-top: 4em;
	}
		body > article .pubdate {
			text-align: center;
			opacity: 0.7;
		}
		body > article p {
			line-height: 135%;
		}

